
body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    background-color: #000000ce;
    padding: 10px;
    text-align: justify;
  }
  
  nav ul li {
    display: inline;
    text-align: center;
  }
  .container{
    display: flex;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: #c4c4c4;
    text-align: justify;
  }
  
  nav ul li a:hover {
    background-color: #000000;
    color: #fff;
    text-align: justify;
  }
a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: justify;
}

.center{
    text-align: center;
}
.right{
   text-align: right;
}
h1{
    color: aqua;
}
p{
  text-align: justify;
}
ul{
  list-style: none;
  padding: 1px;
}